body{
  display: grid;
  background: url(lesson.png);
  color: rgb(223, 219, 214);
  background-size: cover;
  /* background-color: rgb(141, 130, 121); */
}
div{
  display: grid;
  border: 2px solid rgba(0, 255, 21, 0.082);
}
.full_page{
  display: grid;
  min-height: 550px;
  grid-template-rows: 15% 8% 65% 12%;
}
.header{
  display: grid;
  align-content: center;
}

h1{
  text-align: center;
  color: aliceblue;
}
.NavBar{
  display: grid;
  grid-template-columns: 15% 15% 15% 15%;
  align-content: center;
}
button{
  min-width: 60%;
  max-width: 100%;
  font-size: 12pt;
  min-height: 80%;
  align-content: center;

  background: rgba(85, 85, 85, 0.11);
  color: rgb(196, 194, 182);
}
button:hover{
  min-width: 60%;
  max-width: 100%;
  font-size: 14pt;
  min-height: 80%;
  align-content: center;
  border: ;
  background: rgba(77, 77, 77, 0.493);
  transition: 0.2s;
  border-radius: 7px;
}
.container{
  display: grid;
  padding-top: 2%;
}
.footer{
  display: grid;
  text-align: center;
  align-content: center;
}